Repository Dae-Hwa/airbnb, pull requests merged in 2021-05, with the labels that each got.

#5 [iOS] 메인 UI 디자인
  IOS/airbnb/airbnb/Base.lproj/Main.storyboard
Labels: UI, iOS

#16 [iOS] 지역 검색 화면 디자인
  IOS/airbnb/airbnb.xcodeproj/project.pbxproj
  IOS/airbnb/airbnb/AccomodationConditions/AccomodationConditions.storyboard
  IOS/airbnb/airbnb/AccomodationConditions/CalendarSelect/CalendarViewController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/LocationSearchBar.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/LocationSearchController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/PopularLocationTableViewCell.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/PopularLocationViewController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/SearchResultTableViewCell.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/SearchResultTableViewController.swift
  IOS/airbnb/airbnb/Main/Base.lproj/Main.storyboard
  IOS/airbnb/airbnb/Main/MainViewController.swift
  IOS/airbnb/airbnb/StoryBoardID.swift
  IOS/airbnb/airbnb/ViewController.swift
Labels: UI, iOS

#18 [FE] 메인페이지 header, search bar
  FE/fe-airbnb/src/App.css
  FE/fe-airbnb/src/App.tsx
  FE/fe-airbnb/src/components/header/Category.jsx
  FE/fe-airbnb/src/components/header/Header.jsx
  FE/fe-airbnb/src/components/header/Logo.jsx
  FE/fe-airbnb/src/components/header/Menu.jsx
  FE/fe-airbnb/src/components/searchBar/SearchBar.jsx
  FE/fe-airbnb/src/index.css
  FE/fe-airbnb/src/theme.js
Labels: FE, UI

#20 [iOS] 네트워크 모델 구현 + MVVM/UseCase 적용
  IOS/airbnb/airbnb.xcodeproj/project.pbxproj
  IOS/airbnb/airbnb.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  IOS/airbnb/airbnb/AccomodationConditions/CalendarSelect/CalendarViewController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/Entity/LocationSearchResult.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/Entity/PopularLocation.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/PopularLocationViewController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/SearchResultTableViewController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/View/LocationSearchBar.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/View/PopularLocationTableViewCell.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/View/SearchResultTableViewCell.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewController/LocationSearchController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewController/LocationSearchResultUpdating.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewController/PopularLocationTableViewDataSource.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewController/PopularLocationViewController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewController/SearchResultTableViewController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewModel/PopularLocationConfigurable.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewModel/PopularLocationViewModel.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewModel/SearchResultConfigurable.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewModel/SearchResultViewModel.swift
  IOS/airbnb/airbnb/Main/Base.lproj/Main.storyboard
  IOS/airbnb/airbnb/Main/MainViewController.swift
  IOS/airbnb/airbnb/Main/UseCase/TurnOnCaseConfigurable.swift
  IOS/airbnb/airbnb/Main/UseCase/TurnOnUseCase.swift
  IOS/airbnb/airbnb/Main/ViewController/HomeViewController.swift
  IOS/airbnb/airbnb/Main/ViewModel/HomeConfigurable.swift
  IOS/airbnb/airbnb/Main/ViewModel/HomeViewModel.swift
  IOS/airbnb/airbnb/Network/AlamofireImageLoadManagable.swift
  IOS/airbnb/airbnb/Network/AlamofireImageLoadManager.swift
  IOS/airbnb/airbnb/Network/AlamofireNetworkManagable.swift
  IOS/airbnb/airbnb/Network/AlamofireNetworkManager.swift
  IOS/airbnb/airbnb/Network/AlamofireRequestManagable.swift
  IOS/airbnb/airbnb/Network/AlamofireRequestManager.swift
  IOS/airbnb/airbnb/Network/CustomError.swift
  IOS/airbnb/airbnb/Network/Fake/FakeNetworkManager.swift
  IOS/airbnb/airbnb/StoryBoardID.swift
  iOS/airbnb/airbnb/AccomodationConditions/LocationSearch/UseCase/NewSearchCaseConfigurable.swift
  iOS/airbnb/airbnb/AccomodationConditions/LocationSearch/UseCase/NewSearchUseCase.swift
  iOS/airbnb/airbnb/AccomodationConditions/LocationSearch/UseCase/PopularLocationCaseConfigurable.swift
  iOS/airbnb/airbnb/AccomodationConditions/LocationSearch/UseCase/PopularLocationUseCase.swift
  iOS/airbnb/airbnb/Factory/AlertFactory.swift
  iOS/airbnb/airbnb/Factory/Instantiable.swift
  iOS/airbnb/airbnb/Factory/StoryboardFactory.swift
  iOS/airbnb/airbnb/Factory/StoryboardID.swift
  iOS/airbnb/airbnb/Factory/ViewControllerFactory.swift
Labels: feature, iOS

#22 [iOS] fix: 강한 참조로 인한 memory leak 해결
  IOS/airbnb/airbnb/AccomodationConditions/CalendarSelect/CalendarViewController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewController/PopularLocationViewController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewController/SearchResultTableViewController.swift
  IOS/airbnb/airbnb/Main/UseCase/TurnOnUseCase.swift
  IOS/airbnb/airbnb/Main/ViewController/HomeViewController.swift
  IOS/airbnb/airbnb/Network/AlamofireImageLoadManager.swift
  iOS/airbnb/airbnb/AccomodationConditions/LocationSearch/UseCase/PopularLocationUseCase.swift
Labels: bug, iOS

#28 [BE] 숙소 전체 조회 목업
  .github/workflows/mockup-api.yml
  BE/airbnb-be/build.gradle
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/accommodation/controller/AccommodationController.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/accommodation/controller/AccommodationRequestDTO.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/accommodation/controller/AccommodationResponseDTO.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/accommodation/controller/AccommodationResponseDTOBuilder.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/accommodation/domain/AccommodationOption.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/accommodation/domain/AccommodationOptionBuilder.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/accommodation/domain/AccommodationType.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/accommodation/domain/RestroomType.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/accommodation/service/AccommodationService.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/common/Consts.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/common/exception/CommonExceptionHandler.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/common/exception/ErrorResponse.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/common/utils/DummyDataFactory.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/common/utils/StringUtils.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/sample/SampleController.java
  BE/airbnb-be/src/main/resources/application.properties
  BE/airbnb-be/src/test/java/com/codesquad/airbnb/accommodation/controller/AccommodationControllerTest.java
Labels: BE

#30 [iOS] 첫번째 PR 수정
  IOS/airbnb/airbnb.xcodeproj/project.pbxproj
  IOS/airbnb/airbnb.xcodeproj/xcshareddata/xcschemes/airbnb.xcscheme
  IOS/airbnb/airbnb/AccomodationConditions/CalendarSelect/CalendarViewController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/Entity/LocationSearchResult.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/Entity/PopularLocation.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/View/LocationSearchBar.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/View/PopularLocationTableViewCell.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/View/SearchResultTableViewCell.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewController/LocationSearchController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewController/PopularLocationTableViewDataSource.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewController/PopularLocationViewController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewController/SearchResultTableViewController.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewController/SearchResultTableViewDataSource.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewModel/PopularLocationConfigurable.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewModel/PopularLocationLoadModel.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewModel/PopularLocationViewModel.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewModel/SearchResultConfigurable.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewModel/SearchResultUpdateModel.swift
  IOS/airbnb/airbnb/AccomodationConditions/LocationSearch/ViewModel/SearchResultViewModel.swift
  IOS/airbnb/airbnb/Main/UseCase/HeroImageUseCase.swift
  IOS/airbnb/airbnb/Main/UseCase/ImageLoadUseCase.swift
  IOS/airbnb/airbnb/Main/UseCase/TurnOnCaseConfigurable.swift
  IOS/airbnb/airbnb/Main/UseCase/TurnOnUseCase.swift
  IOS/airbnb/airbnb/Main/ViewController/HomeViewController.swift
  IOS/airbnb/airbnb/Main/ViewModel/HomeConfigurable.swift
  IOS/airbnb/airbnb/Main/ViewModel/HomeViewModel.swift
  IOS/airbnb/airbnb/Main/ViewModel/ImagePathLoadModel.swift
  IOS/airbnb/airbnb/Network/AlamofireImageLoadManager.swift
  IOS/airbnb/airbnb/Network/AlamofireNetworkManagable.swift
  IOS/airbnb/airbnb/Network/AlamofireNetworkManager.swift
  IOS/airbnb/airbnb/Network/CustomError.swift
  IOS/airbnb/airbnb/Network/Fake/FakeNetworkManager.swift
  IOS/airbnb/airbnb/Network/ImageLoadManagable.swift
  IOS/airbnb/airbnb/Network/NetworkError.swift
  IOS/airbnb/airbnb/Network/NetworkManagable.swift
  iOS/airbnb/NetworkServiceTest/FakeData.swift
  iOS/airbnb/NetworkServiceTest/Info.plist
  iOS/airbnb/NetworkServiceTest/NetworkServiceTest.swift
  iOS/airbnb/NetworkServiceTest/NetworkTestMockClasses.swift
  iOS/airbnb/airbnb/AccomodationConditions/LocationSearch/UseCase/NewSearchCaseConfigurable.swift
  iOS/airbnb/airbnb/AccomodationConditions/LocationSearch/UseCase/NewSearchUseCase.swift
  iOS/airbnb/airbnb/AccomodationConditions/LocationSearch/UseCase/PopularLocationCaseConfigurable.swift
  iOS/airbnb/airbnb/AccomodationConditions/LocationSearch/UseCase/PopularLocationLoadUseCase.swift
  iOS/airbnb/airbnb/AccomodationConditions/LocationSearch/UseCase/PopularLocationUseCase.swift
  iOS/airbnb/airbnb/AccomodationConditions/LocationSearch/UseCase/SearchResultFetchUseCase.swift
  iOS/airbnb/airbnb/AccomodationConditions/LocationSearch/UseCase/SearchResultUseCase.swift
  iOS/airbnb/airbnb/Factory/AlertFactory.swift
  iOS/airbnb/airbnb/Factory/Instantiable.swift
  iOS/airbnb/airbnb/Factory/SearchBarFactory.swift
  iOS/airbnb/airbnb/Factory/StoryboardFactory.swift
  iOS/airbnb/airbnb/Factory/StoryboardID.swift
  iOS/airbnb/airbnb/Factory/ViewControllerFactory.swift
Labels: bug, iOS

#31 [FE] 캘린더 캐로셀 기능 구현
  FE/fe-airbnb/config-overrides.js
  FE/fe-airbnb/package.json
  FE/fe-airbnb/src/App.tsx
  FE/fe-airbnb/src/components/calendar/Calendar.jsx
  FE/fe-airbnb/src/components/calendar/CalendarHeader.jsx
  FE/fe-airbnb/src/components/calendar/CalendarList.jsx
  FE/fe-airbnb/src/components/calendar/CalendarModal.jsx
  FE/fe-airbnb/src/components/calendar/DayNames.jsx
  FE/fe-airbnb/src/components/calendar/build.js
  FE/fe-airbnb/src/components/calendar/styles.js
  FE/fe-airbnb/src/constant.js
  FE/fe-airbnb/src/theme.js
  FE/fe-airbnb/tsconfig.json
  FE/fe-airbnb/tsconfig.path.json
  FE/fe-airbnb/yarn.lock
Labels: FE, feature

#32 [FE] 캘린더 month 이동 시 깜빡거리는 문제 해결
  FE/fe-airbnb/src/components/calendar/Calendar.jsx
  FE/fe-airbnb/src/components/calendar/CalendarList.jsx
Labels: FE, bug

#36 [BE] 숙소 조회 리뷰 반영
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/accommodation/domain/AccommodationOption.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/accommodation/domain/AccommodationOptionBuilder.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/accommodation/service/AccommodationService.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/common/Consts.java
  BE/airbnb-be/src/main/java/com/codesquad/airbnb/common/exception/ErrorResponse.java
  BE/airbnb-be/src/main/resources/application.properties
  BE/airbnb-be/src/test/java/com/codesquad/airbnb/accommodation/controller/AccommodationControllerTest.java
Labels: BE

#37 [FE] 서치바 UI 작업
  FE/fe-airbnb/src/components/SearchButton.jsx
  FE/fe-airbnb/src/components/calendar/Calendar.jsx
  FE/fe-airbnb/src/components/calendar/CalendarHeader.jsx
  FE/fe-airbnb/src/components/calendar/DayNames.jsx
  FE/fe-airbnb/src/components/searchBar/SearchBar.jsx
  FE/fe-airbnb/src/components/searchBar/SearchBar.tsx
  FE/fe-airbnb/src/components/searchBar/SearchBarBtn.tsx
Labels: FE, UI

#41 [FE] 모달 키고 끄는 기능
  FE/fe-airbnb/src/App.tsx
  FE/fe-airbnb/src/components/calendar/Calendar.jsx
  FE/fe-airbnb/src/components/calendar/CalendarModal.jsx
  FE/fe-airbnb/src/components/headcount/HeadCountModal.tsx
  FE/fe-airbnb/src/components/price/PriceModal.tsx
  FE/fe-airbnb/src/components/searchBar/SearchBar.tsx
  FE/fe-airbnb/src/components/searchBar/SearchBarBtn.tsx
  FE/fe-airbnb/src/components/searchBar/searchBarTypes.ts
Labels: FE, feature

#43 [iOS] 캘린더 화면 + 캘린더 모델 + 캘린더 선택
  IOS/airbnb/airbnb.xcodeproj/project.pbxproj
  IOS/airbnb/airbnb/AccomodationConditions/CalendarSelect/CalendarViewController.swift
  IOS/airbnb/airbnb/Main/ViewController/HomeViewController.swift
  IOS/airbnb/airbnb/Network/Fake/FakeNetworkManager.swift
  iOS/airbnb/airbnb/AccommodationConditions/AccommodationConditions.storyboard
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/Model/CalendarManager.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/Model/DateSelectionManager.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/Model/Day.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/Model/Month.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/Model/SelectStatus.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/View/AccommodationConditionTableViewCell.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/View/CalendarCollectionViewCell.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/View/MonthHeaderCollectionViewCell.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/ViewController/AccommodationConditionTableViewDataSource.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/ViewController/CalendarCollectionViewDataSource.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/ViewController/CalendarViewController.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/ViewModel/CalendarManageModel.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/ViewModel/CalendarViewModel.swift
  iOS/airbnb/airbnb/AccommodationConditions/CommonModels/Charge.swift
  iOS/airbnb/airbnb/AccommodationConditions/CommonModels/ConditionManager.swift
  iOS/airbnb/airbnb/AccommodationConditions/CommonModels/Location.swift
  iOS/airbnb/airbnb/AccommodationConditions/CommonModels/Period.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/Model/PopularLocation.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/UseCase/PopularLocationLoadUseCase.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/UseCase/PopularLocationUseCase.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/UseCase/SearchResultFetchUseCase.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/UseCase/SearchResultUseCase.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/View/PopularLocationTableViewCell.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/View/SearchResultTableViewCell.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewController/LocationSearchController.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewController/LocationSearchResultUpdating.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewController/PopularLocationTableViewDataSource.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewController/PopularLocationViewController.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewController/SearchResultTableViewController.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewController/SearchResultTableViewDataSource.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewModel/PopularLocationLoadModel.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewModel/PopularLocationViewModel.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewModel/SearchResultUpdateModel.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewModel/SearchResultViewModel.swift
  iOS/airbnb/airbnb/Factory/DateFormatter.swift
  iOS/airbnb/airbnb/Factory/StoryboardFactory.swift
Labels: UI, feature, iOS

#47 [FE] 날짜 선택 기능 추가
  FE/fe-airbnb/src/App.tsx
  FE/fe-airbnb/src/components/calendar/Calendar.jsx
  FE/fe-airbnb/src/components/calendar/CalendarHeader.jsx
  FE/fe-airbnb/src/components/calendar/CalendarList.jsx
  FE/fe-airbnb/src/components/calendar/CalendarModal.jsx
  FE/fe-airbnb/src/components/calendar/Day.tsx
  FE/fe-airbnb/src/components/calendar/DayNames.jsx
  FE/fe-airbnb/src/components/searchBar/SearchBar.tsx
  FE/fe-airbnb/src/components/searchBar/searchBarTypes.ts
Labels: FE, feature

#49 [iOS] 리팩토링 - ViewModel / DI
  IOS/airbnb/airbnb.xcodeproj/project.pbxproj
  IOS/airbnb/airbnb/AppCycle/SceneDelegate.swift
  IOS/airbnb/airbnb/Main/Base.lproj/Main.storyboard
  IOS/airbnb/airbnb/Main/ViewController/HomeViewController.swift
  IOS/airbnb/airbnb/Main/ViewModel/HomeViewModel.swift
  IOS/airbnb/airbnb/Main/ViewModel/ImagePathLoadModel.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/Model/CalendarManager.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/Model/DateSelectionManager.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/Model/Month.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/View/AccommodationConditionTableViewCell.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/View/CalendarCollectionViewCell.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/View/MonthHeaderCollectionViewCell.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/ViewController/AccommodationConditionTableViewDataSource.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/ViewController/CalendarCollectionViewDataSource.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/ViewController/CalendarViewController.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/ViewModel/CalendarManageModel.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/ViewModel/CalendarViewModel.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewController/PopularLocationViewController.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewController/SearchResultTableViewController.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewModel/PopularLocationLoadModel.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewModel/PopularLocationViewModel.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewModel/SearchResultUpdateModel.swift
  iOS/airbnb/airbnb/AccommodationConditions/LocationSearch/ViewModel/SearchResultViewModel.swift
  iOS/airbnb/airbnb/CommonInterfaces/AnyResultHandleModel.swift
  iOS/airbnb/airbnb/CommonInterfaces/AnySearchConditionHandleModel.swift
  iOS/airbnb/airbnb/CommonInterfaces/NetworkResultHandleModel.swift
  iOS/airbnb/airbnb/CommonInterfaces/SearchConditionHandleModel.swift
  iOS/airbnb/airbnb/DIContainer/HomeDIContainer.swift
Labels: iOS

#50 [iOS] Refactoring Calendar Model
  IOS/airbnb/airbnb.xcodeproj/project.pbxproj
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/Model/CalendarCoordinate.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/Model/CalendarManager.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/Model/DateSelectionManager.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/Model/Month.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/ViewController/CalendarViewController.swift
  iOS/airbnb/airbnb/AccommodationConditions/CalendarSelect/ViewModel/CalendarViewModel.swift
  iOS/airbnb/airbnb/AccommodationConditions/CommonModels/ConditionManager.swift
  iOS/airbnb/airbnb/DIContainer/HomeDIContainer.swift
Labels: iOS
